body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.contents {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  overflow: hidden;
}

#timer-text {
  position: absolute;
  /*bottom: 21%;*/
  /*left: 27%;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: papyrus, Times, "Times New Roman", sans-serif;
  font-size: 288px;
  color: white;
}
#overlay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#menu-wrapper {
  position: absolute;
  background-color: lightgray;
}
@media (orientation: landscape){
  #menu-wrapper {
    width: 50%;
    height: 100%;
    left: 25%;
    top: 0;
  }
}
@media (orientation: portrait) {
  #menu-wrapper {
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
  }
}
.button {
  width: 100%;
  height: 25%;
  align-content: center;
  text-align: center;
  background-color: lightgray;
  display: inline-block;
}
.button:hover {
  background-color: gray;
}
#state {
  width: 100%;
  padding-top: 1em;
  text-align: center;
}
.time-input {
  font-size: 1em;
  width: Calc(25% - 1em);
}